.projects-showcase {
	width: 880px;
	height: 300px;
	position: relative;
}

.projects-showcase img {
	margin-left: -10px;
	margin-right: -15px;
	position: relative;
}

.projects-showcase  .development-tag {
	display: block;
	width: 200px;
	padding: 5px;
	float: right;
	text-align: center;
	background-color: #F60;
	background-repeat: repeat;
	color: #FFFFFF;
	font-style: italic;
	position: absolute;
	top: 0;
	right: 0;
}

.projects-other {
	text-align: center;
	width: 250px;
	padding: 10px;
	margin: 10px;
	opacity: 0.7;
	cursor: pointer;
}

.projects-other:hover {
	box-shadow: 3px 3px 10px 3px #777777;
}

.projects-other-header {
	font-size: 18px;
	font-weight: bold;
}

.projects-other-tags {
	font-size: 16px;
}

.projects-other-date {
	font-size: 14px;
}